SERVER_ADDR=0.0.0.0:3000
OTEL_ENDPOINT=http://localhost:4317

# db path commented out to make local dev use temp db
# DB_PATH=
AUTH_SECRET=your_64_char_hex_secret_here
TLS_CERT=certs/localhost.pem
TLS_KEY=certs/localhost-key.pem
