SERVER_ADDR=0.0.0.0:3000
OTEL_ENDPOINT=http://localhost:4317

# db paths commented out to make local dev use temp db
# APP_DB_PATH=
# ACTIVITY_DB_PATH=
AUTH_SECRET=your_64_char_hex_secret_here
TLS_CERT=certs/localhost.pem
TLS_KEY=certs/localhost-key.pem
